# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
west
www

config.php
*config.php
.admin/config.php
*config*
*config

settings/
system/storage/
*/cache/
tmp/
*storage/logs/*
